@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/* 'Open Sans', sans-serif; */
/* 'Poppins', sans-serif; */

:root {
   --font-tittle: 'Poppins', sans-serif;
   --font-paragraphs: 'Poppins', sans-serif;
   --font-buttons: 'Poppins', sans-serif;
   --font-menu-nav: 'Poppins', sans-serif;
   --font-logo: 'Poppins', sans-serif;

   --color-titles: #000;
   --color-paragraphs: #000;
   --color-buttons: #C7A857;
   --color-buttons-hover: #977d3c;
   --color-links-nav-bar: #000;
   --color-btn-contact: #fff;
   --color-contrast: #C7A857;
   --color-copryright-text: #d6d6d6;
   --bg-menu-nav: #fff;
   --bg-section: #fff;
   --bg-form: #151515;
   --bg-footer: #000;
}

/* General */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   border: none;
   text-decoration: none;

}

h1, h2, h3 {
   font-family: var(--font-tittle);
   font-weight: 600;
   color: var(--color-titles);
}

h1 {
   font-size: 2.2em;
}

h2 {
   font-size: 1.8em;
}

h3 {
   font-size: 1.3em;
}

p {
   font-family: var(--font-paragraphs);
   font-size: 1.1em;
   font-weight: 400;
   color: var(--color-paragraphs);
}

.br-lorem-logo {
   display: none;
}

.logo {
   display: flex;
   align-items: center;
   gap: 1.5em;
}

.logo img {
   width: 70px;
}

.logo .logo-text {
   font-family: var(--font-logo);
   font-weight: 500;
   font-size: 1.5em;
   text-transform: uppercase;
   color: var(--color-links-nav-bar);
}

.section-header,
.section-main {
   background-color: var(--bg-section);
   border-bottom: 3px solid var(--color-contrast);
}

.section-content-main {
   padding: 5em 2em;
   max-width: 1300px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4em;
}

.section-heading-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5em;
   text-align: center;
}

.btn-contact {
   width: 50%;
}

.btn-contact a {
   padding: .5em 0;
   background-color: var(--color-buttons);
   border-radius: 10px;
   color: var(--color-links-nav-bar);
   font-weight: 500;
   font-size: 1.1em;
   font-family: var(--font-buttons);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .7em;
   transition: all .2s;
}

.btn-contact a:hover {
   background-color: var(--color-buttons-hover);
}

/* Menu nav bar */

.header-top {
   background-color: var(--bg-menu-nav);
   position: fixed;
   width: 100%;
   /* border-bottom: 1px solid var(--color-contrast); */
   box-shadow: 1px 0 7px rgba(0, 0, 0, .3);
}

.header-top .menu-nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em 2em;
   max-width: 1300px;
   margin: 0 auto;
}

.header-top .menu-nav-bar .menu-trigger {
   cursor: pointer;
   display: none;
}

.header-top .menu-nav-bar .menu-trigger i {
   font-size: 3em;
}

.header-top .menu-nav-bar ul {
   display: flex;
   gap: 2.5em;
   font-family: var(--font-menu-nav);
}

.header-top .menu-nav-bar ul li a,
.header-top .menu-nav-bar ul .btn-contact-menu-nav {
   transition: all .2s;
}

.header-top .menu-nav-bar ul li a {
   font-size: 1.1em;
   color: var(--color-links-nav-bar);
   font-weight: 500;
}

.header-top .menu-nav-bar ul li a:hover {
   color: var(--color-contrast);
}

.header-top .menu-nav-bar ul .btn-contact-menu-nav {
   padding: .5em 2em;
   background-color: var(--color-buttons);
   border-radius: 20px;
   color: var(--color-btn-contact);
}

.header-top .menu-nav-bar ul .btn-contact-menu-nav:hover {
   background-color: var(--color-buttons-hover);
   color: var(--color-btn-contact);
}

/* Section header */

.section-content-header {
   max-width: 1300px;
   padding: 12em 2em 7em 2em;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2em;
}

.section-content-header .section-header-left-content {
   width: 45%;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.section-content-header .section-header-right-content {
   width: 55%;
}

.section-content-header .section-header-right-content img {
   width: 100%;
}

/* Services */

.services .services-box {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5em;
   justify-content: center;
   align-items: stretch;
}

.services .services-box .box-item {
   max-width: 380px;
   border: 5px solid var(--color-contrast);
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   gap: 1.5em;
   padding: 1.5em;
   text-align: center;
   transition: all .2s;
}

.services .services-box .box-item:hover {
   background-color: var(--color-contrast);
   border-color: #000;
}

.box-item img {
   /* margin-bottom: auto; */
   width: 70px;
}

.box-item h4,
.box-item p {
   cursor: default;
}

.box-item p {
   font-size: 1.1em;
   margin: auto 0;
}

.services .form-section {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2em;
}

.form-section .form-section-left-content {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 1.5em;
}

.form-section .form-section-left-content .btn-contact {
   width: 70%;
}

.form-section #form-contact {
   width: 450px;
   background-color: var(--bg-form);
   padding: 1.5em;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

#form-contact .form-group input[type="text"],
#form-contact .form-group textarea,
#form-contact .btn-form {
   width: 100%;
   padding: .8em;
   font-family: var(--font-paragraphs);
   font-size: 1.1em;
   font-weight: 500;
   border-radius: 10px;
}

#form-contact .form-group textarea {
   resize: none;
}

#form-contact .btn-form {
   color: var(--color-btn-contact);
   background-color: var(--color-buttons);
   cursor: pointer;
   transition: all .2s;
}

#form-contact .btn-form:hover {
   background-color: var(--color-buttons-hover);
}

/* About us */

.about-us .description-about-us {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3em;
}

.description-about-us .description-about-us-left-content {
   width: 45%;
}

.description-about-us .description-about-us-left-content img {
   width: 100%;
}

.description-about-us .description-about-us-right-content {
   width: 55%;
   display: flex;
   flex-direction: column;
   gap: 1.5em;
}

.description-about-us-right-content .description-about-us-icon img {
   width: 90px;
}

.description-about-us-right-content .description-about-us-paragraph {
   display: flex;
   flex-direction: column;
   gap: 1.5em;
}

.description-about-us-right-content .btn-contact {
   width: 80%;
}

/* Clients */

.clients .clients-logos {
   display: flex;
   justify-content: space-between;
}

.clients .clients-logos img {
   width: 22%;
}

/* Faq */

.faq .section-content-main .section-heading-main img {
   width: 80px;
}

.faq .faq-box-items {
   display: flex;
   flex-direction: column;
   gap: 1em;
   width: 800px;
}

.faq-box-item {
   display: flex;
   flex-direction: column;
   border: 3px solid #000;
   border-radius: 15px;
   transition: all .2s;
   cursor: pointer;
}

.faq-box-item .question {
   display: flex;
   align-items: center;
   gap: .7em;
   padding: 1em;
}

.faq-box-item .question i {
   font-size: 1.7em;
   color: var(--color-contrast);
   transition: all .2s;
}

.faq-box-item .question p {
   font-size: 1.2em;
   font-weight: 500;
}

.faq-box-item .answer {
   border-top: 3px solid #000;
   padding-top: 1em;
   margin: 0 1em 1em 1em;
   display: none;
   animation: animate .2s linear backwards;
   transform-origin: top;
}

.faq-box-item .answer p {
   font-size: 1em;
}

/* Faq box activated */

.faq-box-item:hover,
.faq-box-item.active {
   background-color: var(--color-contrast);
}

.faq-box-item:hover i,
.faq-box-item.active i {
   color: #000;
}

.faq-box-item.active .question i {
   transform: rotate(180deg);
   transition: transform .2s .1s;
}

.faq-box-item.active .answer {
   display: block;
}

/* Faq Animation */

@keyframes animate {
   0% {
      transform: scaleY(0);
   }
}

/* Footer */

#footer {
   background-color: var(--bg-footer);
}

.footer-content {
   padding: 3em 2em 1em 2em;
   max-width: 1300px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3em;
}

.footer-content .footer-links {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.footer-content .left-content-footer {
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.footer-links .logo .logo-text {
   color: var(--color-contrast);
}

.footer-links .logo:hover .logo-text {
   color: var(--color-buttons-hover);
}

.left-content-footer .address-footer {
   display: flex;
   flex-direction: column;
   gap: 1.5em;
}

.address-footer .address-footer-box {
   display: flex;
   align-items: center;
   gap: 1em;
}

.address-footer-box i,
.address-footer-box p {
   color: var(--color-copryright-text);
}

.address-footer-box i {
   font-size: 1.2em;
}

.address-footer-box p {
   font-size: 1em;
}

.footer-links .footer-social-medias h4 {
   font-family: var(--font-tittle);
   font-weight: 400;
   color: var(--color-contrast);
   font-size: 1.4em;
   margin-bottom: 1.5em;
}

.footer-links .footer-social-medias .social-media-icons {
   display: flex;
   gap: 1.5em;
}

.social-media-icons i {
   font-size: 2em;
   color: #fff;
}

.social-media-icons i:hover {
   color: var(--color-contrast);
}

.footer-copyright p {
   color: var(--color-copryright-text);
   text-align: center;
   font-size: 1em;
   font-weight: 400;
}

/* Responsive */

@media (max-width: 1000px) {
   .header-top .menu-nav-bar .menu-trigger {
      display: block;
   }

   .header-top .menu-nav-bar ul {
      position: fixed;
      top: 100px;
      left: -1000px;
      width: 100%;
      text-align: center;
      flex-direction: column;
      transition: all .4s;
      background-color: #fff;
      gap: 0;
   }

   .header-top .menu-nav-bar ul li {
      border-bottom: 1px solid rgba(0, 0, 0, .5);
   }

   .header-top .menu-nav-bar ul .btn-contact-menu-nav,
   .header-top .menu-nav-bar ul li a
    {
      display: block;
      padding: 1em 0;
   }

   .header-top .menu-nav-bar ul.open {
      left: 0px;
   }

   .header-top .menu-nav-bar ul .btn-contact-menu-nav {
      color: var(--color-links-nav-bar);
      background-color: transparent;
   }

   .header-top .menu-nav-bar ul li a:hover,
   .header-top .menu-nav-bar ul .btn-contact-menu-nav:hover {
      background: none;
      color: var(--color-links-nav-bar);
   }

   .section-content-header {
      flex-direction: column;
      padding: 10em 2em 4em 2em;
   }

   .section-content-header .section-header-left-content {
      width: 100%;
      align-items: center;
      text-align: center;
   }

   .section-content-header .section-header-right-content {
      width: 90%;
   }

   .form-section {
      flex-direction: column;
   }

   .form-section .form-section-left-content {
      width: 100%;
      align-items: center;
      text-align: center;
   }

   .form-section #form-contact {
      width: 70%;
   }

   .about-us .description-about-us {
      flex-direction: column;
   }

   .description-about-us .description-about-us-left-content {
      width: 90%;
   }

   .description-about-us .description-about-us-right-content {
      width: 100%;
      align-items: center;
      text-align: center;
   }
}

@media(max-width: 880px) {
   .btn-contact,
   .form-section .form-section-left-content .btn-contact,
   .description-about-us-right-content .btn-contact {
      width: 100%;
   }

   .form-section #form-contact {
      width: 100%;
   }
   
   .clients .clients-logos {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
   }

   .clients .clients-logos img {
      width: 50%;
   }

   .faq .faq-box-items {
      width: 100%;
   }
}

@media(max-width: 730px) {
   .clients .clients-logos img {
      width: 70%;
   }

   .services .services-box .box-item {
      max-width: 100%;
   }

   .footer-content .footer-links {
      flex-direction: column;
      align-items: center;
      gap: 5em;
   }
}

@media(max-width: 600px) {
   .header-top .menu-nav-bar ul {
      top: 85px;
   }

   h1 {
      font-size: 2em;
   }
   
   h2 {
      font-size: 1.8em;
   }

   .logo {
      gap: 1em;
   }
   
   .logo img {
      width: 50px;
   }
   
   .logo .logo-text {
      font-size: 1.1em;
   }

   .btn-contact a {
      font-size: 1.1em;
   }

   .form-section #form-contact {
      padding: 2em 1em;
   }

   #form-contact .form-group input[type="text"],
   #form-contact .form-group textarea,
   #form-contact .btn-form {
      font-size: 1.1em;
   }

   .faq .section-content-main .section-heading-main img {
      width: 70px;
   }

   .faq-box-item .question {
      padding: 1em;
   }

   .faq-box-item .question p,
   .faq-box-item .answer p {
      font-size: 1em;
   }

   .footer-links .footer-social-medias h4 {
      font-size: 1.2em;
   }

   .footer-links .footer-social-medias .social-media-icons {
      gap: 2em;
   }

   .social-media-icons i {
      font-size: 1.8em;
   }
   
   .footer-copyright p {
      font-size: .9em;
   }
}

@media(max-width:380px) {
   .br-lorem-logo {
      display: block;
   }
}